* {
	margin: 0;
	padding: 0;
}
.main-carousel {
	height: 50vh;
	min-height: 250px;
}
.carousel-cell {
  width: 100%; /* full width */
  height: 100%; /* height of carousel */
  margin-right: 10px;
  background-size: cover;
}
.container {
	font-size: 18px;
	color: white;
	text-shadow: 2px 2px 5px #333;
	width: 50%;
	max-width: 1200px;
	height: 100%;
	margin: 50px auto;
	text-align: center;
}
.progress-bar {
  height: 20px;
  width: 0;
  background: #333;
}
.link-container{
	margin: 0 auto;
	width: 550px;
	a {
		color: #333;
		text-decoration: none;
		display: block;
		float: left;
		margin: 10px 20px;
		padding: 10px;
		border: 2px solid;
		border-radius: 5px;
		transition: .4s;
		&:hover {
			transform: scale(1.2);
		}
	}
}
.restart-button {
	position: absolute;
	top: 20px;
	right: 30px;
	background: transparent;
	color: white;
	text-shadow: 2px 2px 5px #333;
	font-size: 20px;
	border-radius: 20px;
	opacity: .7;
	transition: .4s;
	&:hover {
		opacity: 1;
		transform: scale(1.2);
	}
}
#map {
        width: 100%;
        height: 50vh;
        background-color: grey;
}